.figure1{
    border: 1px solid black;
    width: 20%;
    height: 180px;
}

.figure2{
    border: 4px solid black;
    padding: 16px;
}

.figure3{
    border: 1px solid coral;
    margin: 20px;
}

.figure4{
    border: 1px solid rgb(44, 177, 255);
    border-radius: 10px;
    height: 90px;
    padding: 5px;
}

.figure5 {
    border: 1px solid black;
    padding-left: 30px;
}

.figure6{
    border: 1px solid black;
    margin-left: 30px;
}

.figure7 {
    border: 3px solid rgb(44, 177, 255);
    border-radius: 10px;
    margin: 2% 45% 2% 45%;
    height: 100px;
    padding-left: 10px;
    padding-top: 5px;
}