.menu{
    background-color: black;
    color: white;
    width: 100%;
}

.titulomenu{
    margin: 5px;
}
.submenu{
    display: flex;
    justify-content: left;
    height: 60px;
    background-color: gray;

}

.subtitle1{
    margin-right: 50px;
}

.subtitle2{
    margin-left: 600px;
}

.links{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    background-color: rgb(199, 199, 199);
}

.link{
    margin: 20px 100px;
    text-decoration: none;
}

.block-1{
    display: flex;

}
.img{
    padding: 10px;
}

.text1{
    text-align: left;
    padding: 30px;
}

.block-2{
    background-color: rgb(199, 199, 199);
    margin: 20px;
}