/*CONTENIDO GLOBAL*/
*{
    margin: 0%;
}
html{
    background-color: rgb(245, 245, 245);
    padding: 0.2em;
}

h2{
    margin: 0.5em;
}


 hr{
    border-style: dashed;
    margin: 0.5em;
    color: rgb(202, 202, 202);
 }

 .contenido-noticia {
    margin: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
}

aside {
    float: right;
    width: 20%;
}

.seccion1{
    width: 80%;
}
.seccion2{
    width: 80%;
    display: flex;
}

.anuncio{
    background-color: rgb(73, 219, 73);
    padding: 0.5em;
    margin: 1em 0em 1em 0em;
}

/*CONTENIDO INDIVIDUAL*/

.Titulo{
    background-color: rgb(1, 195, 221);
    width: 100%;
    height: 100%;

}

.Title{
    font-size: 4.7em;
}

.subTitle{
    text-align: right;
    padding: 1em;
}

.Enlaces{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 240, 240);
}

.Enlaces .enlace {
    text-decoration: none;
    margin: 0.5em 2em 0.5em 2em;
    color: rgb(1, 207, 207);
}

.noticia{
    margin: 1em;
    background-color: white;
    padding: 0em 0em 0.5em 0em;
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
.titulo-noticia{
    background-color: rgb(105, 247, 105);
    border-top-left-radius: 1.5em ;
    border-bottom-right-radius: 1.5em;
    
}

.titulo-noticia h1{
    font-size: 2em;
    padding: 0.2em;
}

.titulo-noticia p{
padding: 0.5em;
}

.noticia .pie-noticia{
    text-align: right;
    padding: 0em 1em 0em 1em;
}

.anuncio .title{
    padding: 0.1em;
}

.anuncio p{
    padding: 0.1em;
}

footer{
    background-color: aqua;
    padding: 2% 20% 2% 40%;
}




