.cuadradogeneral{
    border: 2px black solid;
    width: 250px;
    height: 200px;
    display: flex;
}

.cuadrado1{
    background-color: aqua;
    align-self: flex-end;
    margin: 0em 0.5em 0em 0.5em;
    padding-bottom: 2em;
    padding-right: 2em;
}
.cuadrado2{
    background-color: aqua;
    margin: 0em 0.5em 0em 0.5em;
    align-self: flex-end;
    padding-bottom: 2em;
    padding-right: 2em;
}
.cuadrado3{
    background-color: aqua;
    margin: 0em 0.5em 0em 0.5em;
    align-self: flex-start;
    padding-top: 2em;
    padding-right: 2em;
}
.cuadrado4{
    background-color: aqua;
    margin: 0em 0.5em 0em 0.5em;
    align-self: flex-end;
    padding-bottom: 2em;
    padding-right: 2em;
}